<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/vehicles" routerLinkActive="active">Veículos</a>
      <a mat-list-item routerLink="/create" routerLinkActive="active">Cadastrar Veículo</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>CRUD de Veículos</span>
    </mat-toolbar>
    <div class="container">
   <router-outlet></router-outlet>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/vehicles">
      <mat-icon>list</mat-icon>
      Veículos
    </button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/create">
      <mat-icon>add</mat-icon>
      Criar novo
    </button>
    <button mat-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
