<mat-card>
  <mat-card-title>Adicionar Novo Veículo </mat-card-title>
  <mat-card-content>
    <br />
    <br />
    <form
      class="example-container"
      [formGroup]="vehicleForm"
      (ngSubmit)="addVehicle(vehicleForm.value)"
    >
      <mat-form-field>
        <input
          matInput
          name="placa"
          placeholder="Placa"
          formControlName="placa"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          name="chassi"
          placeholder="Chassi"
          formControlName="chassi"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="number"
          name="renavam"
          placeholder="Renavam"
          formControlName="renavam"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          name="marca"
          placeholder="Marca"
          formControlName="marca"
        />
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          name="modelo"
          placeholder="Modelo"
          formControlName="modelo"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="number"
          min="1500"
          max="2020"
          matInput
          name="ano"
          placeholder="Ano"
          formControlName="ano"
        />
      </mat-form-field>

      <button
        type="submit"
        [disabled]="!vehicleForm.valid"
        mat-button
        color="primary"
      >
        Adicionar
      </button>
    </form>
  </mat-card-content>
</mat-card>
